
    <!-- Header Section -->
    <header>
      <%- include("./headerAndFooter/header.ejs") %>
    </header>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>



    <!-- Footer Section -->
    <footer>
      <%- include("./headerAndFooter/footer.ejs") %>
    </footer>
