<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS Section-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel='stylesheet' href='/Content/style.css' />
    <!-- Scripts Section-->
    <script src="/jquery/dist/jquery.min.js" defer></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="/Scripts/app.js" defer> </script>
  </head>
  <body>
    <!-- Navigation Section -->
    <header>
      <%- include("./components/header.ejs") %>
    </header>


  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>

    <!-- Bottom nav -->
    <footer>
      <%- include("./components/footer.ejs") %>
    </footer>

  </body>
</html>
