<h1 class="container text-center">Clothing List</h1>
<hr>
<div class="row container">
    <div class="col">

     <a href="/clothing-list/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Clothing Item</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- Repeating Row -->
                <% for (let i = 0; i < clothingList.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= clothingList[i].name %></td>
                        <td><%= clothingList[i].price %></td>
                        <td class="text-center"><a href="/clothing-list/edit/<%= clothingList[i]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                        <td class="text-center"><a href="/clothing-list/delete/<%= clothingList[i]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>